body {
  font-family: Arial;
  margin: 0;
}

.header {
  padding: 10px;
    text-align: center;
    background: #125447;
    color: white;
    font-size: 15px
}
h2 {
  text-align: center;
}


fieldset {
  border: 0px;
  width: 90%;
  padding: 60px;
  text-align: center;
  font-size:15px ;
}
fieldset legend {
  font-size: 1.5rem;
  font-weight: bolder;
}
.form-group {
  margin: 10px -190p;
}
.form-group label {
  font-weight: bolder;
}

.form-group input, 
.form-group select,
.form-group textarea {
  width: 82%;
  margin: 12px 0px;
  padding: 7px 7px;
  border: 1px solid #cacaca;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-group input[type=submit], .form-group input[type=button]{
  padding: 15px;
  text-align: center;
  background:#059862;
  color: white;
  font-size: 25px;
}

.form-group .list-item input{    
  width: 20%;
}

.form-group input[type=submit]:hover{    
  background-color: #059862;    
}

.form-group input[type=button]:hover{    
  background-color: #059862;    
}

footer {
    padding: 60px;
    text-align: center;
    font-size: 18px;
    background-color: #125447;
    color: white;
}
.submit {
  background-color: green;
  color: white;
  padding: 15px 20px;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 8px;
}
